/* ----------------------------------------- */
/* ABOUT */
/* ----------------------------------------- */

.about-container {

    .about-content-container {
        @include flex-row(space-between, center);
        height:90%;

        .about-content {
            flex:1;
            align-self:stretch;
            @include flex-col(flex-start, flex-start);

            div {
                padding:15px 0;

                &.content-heading {
                    height:auto;
                    @include flex-col(center, flex-start);
                }

                &.content-paragraph {
                    height:75%;
                    @include flex-col(flex-start, flex-start);
                }
            }

            h4 {
                font-family:map-get($fonts, 'heading' );
                font-weight:700;
                font-size:2.25rem;
                
                .specialChar {
                    color:map-get($colors, 'white' ) !important;
                    text-shadow:0px 0px 0px map-get($colors, 'white' );
                    transition: all 4s;
                    transition:color 1s;
                    transform:translate(-2px 2px);


                    &.active {
                        text-shadow:-2px 2px 2px map-get($colors, 'black' );
                        color:map-get($colors, 'pink' ) !important;
                        transform:translate(0px px);
                    }
                }
            }

            p {
                padding:5px 0px;
            }
        }

        .about-graphic-container {
            flex:1;
            align-self:stretch;
            @include flex-row(center, flex-start);

            img {
                position:relative;
                z-index:3;
                transition:all ease-in 1s;
            }

            &:before {
                content: "";
                display:block;
                background-color:map-get($colors, 'blue');
                height:500px;
                width:250px;
                position: absolute;
                z-index:2;
                transform:translate(-100vw, 0px);
                transition:all linear 1s;
            }

            &:after {
                content: "";
                display:block;
                background-color:map-get($colors, 'pink');
                height:500px;
                width:250px;
                position: absolute;
                z-index:1;
                transform:translate(100vw, 50px);
                transition:all linear 1s;
            }

            &.active {

                img {
                    transform:rotate(2deg);
                    transition:all ease-in 1s;
                }
    
                &:before {
                    transform:translate(50px, 0px);
                    transition:all linear 1s;
                }
    
                &:after {
                    transform:translate(100px, 50px);
                    transition:all linear 1s;
                }

                &:hover {
                    img {
                        transform:rotate(-2deg);
                        transition:all ease-in 1s;
                    }
                }

            }
        }
    }
}