/* ----------------------------------------- */
/* ABOUT */
/* ----------------------------------------- */

.about-container {

    .about-content-container {
        @include flex-row(space-between, center);
        height:90%;

        @include mq('tablet') {
        }

        .about-content {
            flex:1;
            align-self:stretch;
            @include flex-col(flex-start, flex-start);

            div {
                padding:15px 0;

                &.content-heading {
                    height:auto;
                    @include flex-col(center, flex-start);
                }

                &.content-paragraph {
                    height:75%;
                    @include flex-col(flex-start, flex-start);
                }
            }

            h4 {
                font-family:map-get($fonts, 'body' );
                font-weight:400;
                font-size:2.25rem;
                
                .specialChar {
                    color:map-get($colors, 'white' ) !important;

                    &.active {
                        color:map-get($colors, 'black' ) !important;

                        &[data-char='8'],&[data-char='10'],&[data-char='11'] {
                            color: map-get($colors, 'blue' ) !important;
                        }
                    }
                }
            }

            p {
                padding:5px 0px;
            }
        }

        .about-graphic-container {
            flex:1;
            align-self:stretch;
            @include flex-row(center, flex-start);

            @include mq('tablet') {}

            img {
                position:relative;
                z-index:3;
                transition:all ease-in 1s;
            }

            &:before {
                content: "";
                display:block;
                border-top:30px map-get($colors, 'blue' ) solid;
                border-bottom:30px map-get($colors, 'blue' ) solid;
                border-left:30px map-get($colors, 'blue' ) solid;
                height:500px;
                width:250px;
                position: absolute;
                z-index:2;
                transform:translate(-100vw, 0px);
                transition:all linear 1s;

                @include mq('tablet') {
                    transform:translate(0px, 0px);
                    height:400px;
                }
            }

            &:after {
                content: "";
                display:block;
                border-top:30px map-get($colors, 'pink' ) solid;
                border-bottom:30px map-get($colors, 'pink' ) solid;
                border-right:30px map-get($colors, 'pink' ) solid;
                height:500px;
                width:250px;
                position: absolute;
                z-index:1;
                transform:translate(100vw, 50px);
                transition:all linear 1s;

                @include mq('tablet') {
                    transform:translate(50px, 50px)!important;
                    height:400px;
                }
            }

            &.active {

                img {
                    transform:rotate(2deg);
                    transition:all ease-in 1s;
                }
    
                &:before {
                    transform:translate(0px, 0px);
                    transition:all linear 1s;
                }
    
                &:after {
                    transform:translate(100px, 50px);
                    transition:all linear 1s;
                }

                &:hover {
                    img {
                        transform:rotate(-2deg);
                        transition:all ease-in 1s;
                    }
                }

            }
        }
    }
}