/* ----------------------------------------- */
/* FEATURES */
/* ----------------------------------------- */

.features-container {
    width:100%;
    height:100vh;
    min-height:720px;
    max-height:1020px;
    @include flex-row(center,center);

    .features-wrapper {
        background-color:map-get($colors, 'blue');
        height:100%;
        width: 100%;
        max-width:none;
        position:absolute;
        z-index:-2;
    }

    .features-content-container {
        width:100%;
        height:80%;
        @include flex-row(center,center);

        .features-content {
            flex:1;
            @include flex-col(space-between,center);
            align-self:stretch;

            &:nth-child(2) {
                border-left:dashed 2px map-get($colors, 'pink');
                border-right:dashed 2px map-get($colors, 'pink');
            }

            .animation-container {
                width:100%;
                height:30%;
                align-self:stretch;
                @include flex-row(center,center);

                &[data-row='1'] {

                    .animation {
                        flex:none;
                        width:150px;
                        height:100px;
                        background-color:map-get($colors, 'blue' );
                        box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3);

                        &:before {
                            content: "";
                            position:absolute;
                            display:inline-block;
                            width:20px;
                            height:30px;
                            background-color:map-get($colors, 'blue' );
                            transform:translate(-50px, 0px);
                            animation: responsive1 1s ease-in .5s 1 forwards;
                            animation-play-state: paused; 
                        }

                        &:after {
                            content: "";
                            display:inline-block;
                            position:absolute;
                            width:40px;
                            height:60px;
                            background-color:map-get($colors, 'blue' );
                            transform:translate(160px, 15px);
                            animation: responsive2 1.25s ease-in .5s 1 forwards;
                            animation-play-state: paused;       
                        }
                    }
                }

                &[data-row='2'] {

                    .animation {
                        width:80px;
                        height:80px;
                        border:0px solid map-get($colors, 'blue');
                        border-radius:50%;
                        background-color:map-get($colors, 'white');
                        animation: bubbleOne 2s ease-in 2.75s infinite alternate;
                        animation-play-state: paused;
                            
                        &:before {
                            content: "";
                            display:inline-block;
                            width:70px;
                            height:70px;
                            border:0px solid map-get($colors, 'blue');
                            border-radius:50%;
                            transform:translate(-60px, 10px);
                            background-color:map-get($colors, 'white');
                            animation: bubbleOne 2.25s ease-in 1.75s infinite alternate;
                            animation-play-state: paused;  
                            
                        }

                        &:after {
                            content: "";
                            display:inline-block;
                            width:60px;
                            height:60px;
                            border:0px solid map-get($colors, 'blue');
                            border-radius:50%;
                            transform:translate(70px, -90px);
                            background-color:map-get($colors, 'white');
                            animation: bubbleOne 2.5s ease-in 1.75s infinite alternate;
                            animation-play-state: paused;  
                        }
                    }
                }

                &[data-row='3'] {

                    .animation {
                        flex:none;
                        width:120px;
                        height:120px;
                    }
                }
            }
        }

        .titles-container {
            height:10%;
            width:100%;
            align-self:stretch;
            @include flex-row(center,center);
            flex-wrap:nowrap;

            .heading-container {
                height:100%;
                width:80%;
                @include flex-row(flex-start,center);
                padding:0 30px;
                
                h3 {
                    position:absolute;
                    z-index:0;
                    color:map-get($colors, 'pink' );
                    text-shadow: -2px -2px 0px map-get($colors, 'black' );
                    font-family:map-get($fonts, "heading");
                    font-weight:900;
                    border-bottom:dashed 2px map-get($colors,'blue' );
                }

                &[data-row='2'] {

                    h3 {
                        color:map-get($colors, 'pink' ) !important;
                        text-shadow:none;
                    }
                }
            }   
        }

        .descriptions-container {
            height:60%;
            width:100%;
            align-self:stretch;
            @include flex-row(space-around,center);

            .paragraph-container {
                height:100%;
                width:100%;
                @include flex-col(flex-start,center);

                h4 {
                    margin:0 !important;
                    width:80%;
                    color:map-get($colors, 'black' );
                    text-shadow:1px 1px .5px white;
                    padding:30px;
                    font-weight:400px;
                    
                }
            }
        }
    }
}


.active {
    
    .animation, .line, .line2 {
        animation-play-state: running !important;
    }

    .animation {

        &:before {
            animation-play-state: running !important;
        }
        
        &:after {
            animation-play-state: running !important;
        }
    }

    .heading-container {

        &[data-row='2'] {

            h3 {
                text-shadow: -2px -2px 0px map-get($colors, 'black' );
                transition:all 1s ease-in;
            }
        }
    }
}

.in-view {

    .paragraph-container {

        &[data-row='1'] {
        transform:translateX(0vw) !important;
        }

        &[data-row='2'] {
        transform:translateY(0vh) !important;
        }

        &[data-row='3'] {
        transform:translateX(0vw) !important;
        }
    }
}

// ANIMATIONS

@keyframes bubbleOne {
    100%  {
        box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), 
        inset 0px 4px 1px 1px white, 
        inset 0px -3px 1px 1px rgba(204,198,197,.5);
    }
}

@keyframes responsive1 {
    100% {
        width:40px;
        height:60px;
    }
}

@keyframes responsive2 {
    100% {
        width:20px;
        height:30px;
    }
}


// SVGS

.line {
    stroke-dasharray: 1772;
    stroke-dashoffset: 1772;
    animation: draw 3000ms ease-in-out 2.25s forwards;
    animation-play-state: paused;  
}

.line2 {
    stroke-dasharray: 1772;
    stroke-dashoffset: 1772;
    animation: draw 4000ms ease-in-out 2.5s forwards;
    animation-play-state: paused;  
}

@keyframes draw {
  from {
    stroke-dashoffset: 1772;
    stroke-opacity:0;
  }
  to{
    stroke-dashoffset: 0;
    stroke-opacity:1;
  }
}

#svg1 {
    max-height:100% !important;
    position:absolute;
    z-index:0;
}

.st0 {
    fill:none;
    stroke:#305f72;
    stroke-width:10;
    stroke-miterlimit:10;
}
