/* ----------------------------------------- */
/* FEATURES */
/* ----------------------------------------- */

.features-container {

    .features-wrapper {
        height: auto!important;
        transform:translateY(50px);
        width:100%;
        max-width: 84%;
        z-index:-1;
        @include flex-row(flex-start, flex-start);
        flex-wrap: nowrap;

        svg {
            height: auto;

            &:first-child {
                flex:3;
                height:100%;
                top:0;
                order:1;
            }

            &:nth-child(2) {
                flex:2;
                height:100%;
                transform:translateY(50vh);
                order:3;
            }

            &:nth-child(3) {
                flex:1;
                height:100%;
                transform:translateY(100vh);
                order:2;
            }
        }
    }

    .section-heading {

        @include mq('tablet') {
            position:sticky;
            top:50px;
        }
    }

    .features-content-container {
        width:auto !important;
        height:auto !important;
        align-self: stretch;
        padding:30px 0 0 0 !important;

        @include mq('tablet') {
            padding:0px !important;
        }

        .features-content {
            flex:1;
            width:100%;
            min-height:75vh;
            margin:0;
            @include flex-col(flex-start,flex-start);
            padding-top:30px;
            flex-wrap:nowrap;
            position:sticky;
            top:25%;
            z-index:2;
            pointer-events: none;

            @include mq('tablet') {
                position:relative;
                min-height:50vh;
                width:100% !important;
                @include flex-col(flex-start, center);
                
            }

            &:nth-child(2) {
               align-items:center;

                @include mq ('tablet') {
                    @include flex-col(center, center);
                }
            }

            &:nth-child(3) {
                align-items:flex-end;

                @include mq ('tablet') {
                    position:relative!important;
                    @include flex-col(flex-start, center);
                }
            }

            .heading-container {
                width:100%;
                padding:15px;
                @include flex-row(flex-start,center);
                
                h3 {
                    color:map-get($colors, 'pink' );
                }
            }   

            .paragraph-container {
                flex:1;
                width:33%;
                opacity:0;
                padding:15px;
                transition: all 500ms ease-in;
                border: 1px solid map-get($colors, 'white' );
                pointer-events:auto !important;

                @include mq('tablet') {
                    width:80%;
                }

                p {
                    margin:0 !important;
                    font-weight:400 !important;  
                    padding:10px 0;
                }
            }
        }
    }   
}

.features-container {

    .active {
        transition:1s all ease;

        .paragraph-container {
            opacity:1 !important;
        }
    }

    .graphic-container {
        height:auto;
        width:60%;
        padding:0 30px;
        
       
        @include flex-row(space-between,center);
    
    
        input {
            border:solid 1px map-get($colors, 'blue' );
            padding:5px;
    
            &:hover {
                background-color:rgba(0,0,0,.1);
            }
        }
    }
}


// SVGS

.outer-screen {
    fill:#FFFFFF;
    stroke:none;
    stroke-width:1;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}