/* ----------------------------------------- */
/* FEATURES */
/* ----------------------------------------- */

.features-container {

    .features-content-container {
        flex:1;
        width:100%;
        @include flex-row(flex-start,flex-start);
        padding:30px 30px 0px 30px !important;

        .features-content {
            flex:1;
            @include flex-col(flex-start,center);
            align-self:stretch;
            padding-top:30px;
            flex-wrap:nowrap;

            @include mq('tablet') {
                margin:50px 0 !important;
            }

            .titles-container {
                height:10%;
                width:100%;
                @include flex-row(flex-start,center);
                flex-wrap:nowrap;

                .animation-container {
                    width:auto;
                    height:auto;
    
                    .animation {
    
                        svg {
                            height:30px;
                            width:30px;
                        }
                    }
                }    

                .heading-container {
                    height:100%;
                    width:auto;
                    padding-left:15px;
                    @include flex-row(flex-start,center);
                    
                    h4 {
                        color:map-get($colors, 'pink' );
                        text-shadow: -2px -1px 1px map-get($colors, 'white' );
                        font-family:map-get($fonts, "heading");
                        font-weight:900;    
                    }
                }   
            }

            .descriptions-container {
                height:auto;
                width:100%;
                padding-left:45px;
                @include flex-row(center,center);

                @include mq('tablet') {
                    // padding-left:0;
                    justify-content: flex-start;
                }

                .paragraph-container {
                    height:100%;
                    width:100%;
                    padding-top:15px;
                    position:relative;
                    right:-200vw;
                    transform:skew(-40deg);
                    transition: all 1s ease-in;
                    @include flex-row(flex-start,flex-start);

                    @include mq('tablet') {
                        width:80%;
                    }

                    p {
                        margin:0 !important;
                        font-weight:400 !important;  
                    }
                }
            }

        }
    }   
}

.graphic-container {
    height:auto;
    width:60%;
    padding:0 30px;
    
   
    @include flex-row(space-between,center);

    svg {
        height:auto;
        width:100%;
    }

    input {
        border:solid 1px map-get($colors, 'blue' );
        padding:5px;

        &:hover {
            background-color:rgba(0,0,0,.1);
        }
    }
}

.features-container {

    .active {
        
        .line1, .line2, .line3 {
            animation-play-state: running !important;
        }

        .paragraph-container {
            right:0vw !important;
            animation: skew 1s ease-in forwards;
        }
    }
}


// SVGS


.line1, .line2, .line3 {
    stroke-dasharray: 1772;
    stroke-dashoffset: 1772;
    animation: draw 1000ms ease-in-out .5s forwards;
    animation-play-state: paused !important;
}

.outer-screen {
    fill:#FFFFFF;
    stroke:#305F72;
    stroke-width:1;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;}

.inner-screen {
    fill:#FFFFFF;
    stroke:#305F72;
    stroke-width:.5;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}

.heading {
    font-family:'Archivo-SemiBold';
}

.subHeading {
    font-family:'Roboto-Regular';
}

#heading1 {
    font-size:12px;
}

#heading2 {
    font-size:5px;
}

#heading3 {
    font-size:3px;
}

#subHeading1 {
    font-size:6px;
}

#subHeading2 {
    font-size:2.3px;
}

#subHeading3 {
    font-size:1.5px;
}

.line {
    fill:none;
    stroke:#305F72;
    stroke-miterlimit:10;
}

#line1 {
    stroke-width:2;
}

#line2 {
    stroke-width:.7;
}

#line3{
    stroke-width:.45;
}

.textbox {
    fill:none;
}

// ANIMATIONS

@keyframes draw {
    from {
      stroke-dashoffset: 1772;
  
    }
    to{
      stroke-dashoffset: 0;
  
    }
}

@keyframes skew {
    from {
        transform:skew(-20deg);

    }
    to{
        transform:skew(0deg);

    }
}

