/* ----------------------------------------- */
/* HERO */
/* ----------------------------------------- */
.hero-container {
    width:100%;
    max-width:map-get($layout, 'max-width' );
    min-height:100vh;
    @include flex-row(center,center);

    @include mq('tablet') {
        flex-direction:column;
        padding-top:100px;
        margin-bottom:50px;
    }

    .hero-wrapper {
        height:100vh;
        width:100vw;
        position:fixed;
        @include flex-col(flex-end,center);
        z-index:1;

        @include mq('tablet') {
            z-index:-1;
        }

        #van-skyline {
            transition:all 1s ease;
            position:fixed;
            
            @include mq('tablet') {
                top:100px;
                
            }
        }

        .drawing {
            fill:none;
            stroke:none;
            stroke-miterlimit:10;

            &.visible {
                fill:white !important;
                // stroke:map-get($colors, 'pink' );
            }
        }

        .background {
            stroke:white;
        }
    }

    .content-container {
        @include fillContainer;
        @include flex-col(center,center);
        flex:9;

        div {
            @include flex-row(flex-start,center);
            line-height: 36px;
            padding: 10px 0px;

            @include mq('tablet') {
                justify-content: flex-start !important;
                width:90% !important;
            }

            &:first-child {
                width:100%;
                border-bottom:4px solid map-get($colors, 'pink' );  
            }

            &:nth-child(2) {
                justify-content: space-between;
                width:95%;
                border-bottom:4px solid map-get($colors, 'blue' );
            }

            &:nth-child(3) {
                width:90%;
                border-bottom:4px solid map-get($colors, 'pink' );
            }

            button {
                background:map-get($colors, 'blue' );
                border:none;
                position:absolute;
                right:8%;
                top:50%;

                a {
                    color:white;
                    font-family:map-get($fonts, 'heading' );
                    font-weight:900;
                    font-size:1.618em;
                    display:inline-block;
                    padding:27.5px;
                }
            }

        }

    }
}