/* ----------------------------------------- */
/* HERO */
/* ----------------------------------------- */
.hero-container {
    width:100%;
    max-width:map-get($layout, 'max-width' );
    min-height:100vh;
    @include flex-row(center,center);

    @include mq('desktop-wide') {
        min-height:100vh;
        padding-top:100px;
    }

    @include mq('tablet') {
        flex-direction:column;
    }

    .content-container {
        @include fillContainer;
        @include flex-col(center,center);
        flex:9;

        @include mq('tablet') {
            align-items: flex-start !important;
        }

        div {
            @include flex-row(flex-start,center);
            line-height: 36px;
            padding: 10px 0px;

            @include mq('tablet') {
                width:90% !important;
                justify-content: flex-start !important;
            }

            &:first-child {
                width:100%;
                border-bottom:4px solid map-get($colors, 'pink' );  
            }

            &:nth-child(2) {
                justify-content: space-between;
                width:95%;
                border-bottom:4px solid map-get($colors, 'blue' );
            }

            &:nth-child(3) {
                width:90%;
                border-bottom:4px solid map-get($colors, 'pink' );
            }

            button {
                background:map-get($colors, 'blue' );
                border:none;
                position:absolute;
                right:8%;
                top:50%;

                a {
                    color:white;
                    font-family:map-get($fonts, 'heading' );
                    font-weight:900;
                    font-size:1.618em;
                    display:inline-block;
                    padding:27.5px;
                }
            }

        }

    }
}