/* ----------------------------------------- */
/* HERO */
/* ----------------------------------------- */
.hero-container {
    width:100%;
    max-width:map-get($layout, 'max-width' );
    height:calc(100vh - 190px);
    @include flex-row(center,center);

    @include mq('desktop-wide') {
        height:100vh;
        padding-top:100px;
    }
}

.hero-wrapper {
    width:100%;
    align-self:stretch;
    @include flex-row(center,center);


    .content-container {
        @include fillContainer;
        @include flex-col(center,center);
        flex:9;

        div {
            @include flex-row(flex-start,center);
            line-height: 36px;
            padding: 10px 0px;

            &:first-child {
                width:100%;
                border-bottom:4px solid map-get($colors, 'pink' );  
            }

            &:nth-child(2) {
                justify-content: space-between;
                width:95%;
                border-bottom:4px solid map-get($colors, 'blue' );
            }

            &:nth-child(3) {
                width:90%;
                border-bottom:4px solid map-get($colors, 'pink' );
            }

            button {
                background:map-get($colors, 'blue' );
                border:none;
                position:absolute;
                right:8%;
                top:50%;

                a {
                    color:white;
                    font-family:map-get($fonts, 'heading' );
                    font-weight:900;
                    font-size:1.618em;
                    display:inline-block;
                    padding:27.5px;
                }
            }

        }

    }

    .form-container {
        height:100%;
        flex:1;
        @include flex-col(center,center);

        .form {
            background-color:map-get($colors, 'blue' );
            position:absolute;
            z-index:1;
            right:8%;
            padding:30px;
            max-width:400px;
            width:20%;
            -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,1);
            -moz-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,1);
            box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,1);

            .frm_primary_label {
                color:map-get($colors, 'white' );
                font-family:map-get($fonts, 'body' );            
                font-size:1rem;
                font-weight:400;
            }

            .frm_form_title {
                color:map-get($colors, 'white' );
                font-family:map-get($fonts, 'heading' );
                font-weight:900;
                font-size:1.5rem;
                padding-bottom:10px;
            }

            .frm_button_submit {
                color:map-get($colors, 'black' );
                font-family:map-get($fonts, 'body' );
                font-weight:400;
                font-size:1rem;
                background:map-get($colors, 'white' );
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.2), inset 0px -3px 1px 1px rgba(204,198,197,.5);
            }
        }
    } 
}