/* ----------------------------------------- */
/* SERVICES */
/* ----------------------------------------- */

.services-container {
    
    .services-content-container {
        min-height:80vh;
        align-self:stretch;
        @include flex-row(space-between,flex-start);
        flex-wrap:nowrap;
        
        .services-content {
            width:30%;
            min-height:100%;
            align-self:stretch;
            @include flex-col(flex-start, flex-start);
            flex-wrap:nowrap;

            @include mq('tablet') {
                width:100%;
                padding:0;
                margin-top:100px;

                &:first-child {
                    margin:0;
                }
            }
            
            &:nth-child(2) {
                margin:0 35px;

                @include mq('tablet') {
                    margin:100px 0 0 0;
                }
            }

            &:hover {

                h5 {
                    color:map-get($colors, 'blue' );
                }
            }

            .graphic-container {
                margin-bottom:15px;
                width:75%;
                
                border:none;
               
                transition: box-shadow 1s ease;

                @include mq('tablet') {
                    height:30%;
                }

                svg {
                    width:100%;
                    height:auto;
                    stroke:map-get($colors, 'white' );
                    stroke-width:2;

                    g {
                        transform-origin: center;
                        transform:scale(.75);
                        
                        path {
                            transform-origin: center;
                            transform:scale(.8);
                        }
                    }

                    &#wrench {

                        path {
                            transform-origin: center;
                            transform:scale(.6);
                        }

                    }
                }
            }

            .heading-container {
                padding:15px 0;
                align-self:stretch;
                position:absolute;
                @include flex-col(center, flex-start);

                h3 {
                    font-size:2.25rem;
                    font-family:map-get($fonts, 'heading' );
                    color:map-get($colors, 'pink' );
                    font-weight:700;
                    width:auto !important;
                    text-shadow:2px 2px 2px black;
                    background-color:rgba(255,255,255,0.5);
                    line-height:2.25rem;
                }
            }

            .paragraph-container {
                min-height:40%;
                width:90%;
                flex:4;
                align-self:stretch;
            }
        }
    }
}

//SVGS

.shapeFill {
    fill:map-get($colors, 'blue' );
    stroke:none;
}

