/* ----------------------------------------- */
/* SHOWCASE */
/* ----------------------------------------- */

.showcase-container {
    height:auto !important;
    overflow-y: hidden;

    .showcase-wrapper {
        left: 0;
        right: 0;
        top:0;
        height:calc(100vh - 50px) !important;
        width:100%;
        max-width: 84%;
        min-height:550px;
        margin-left: auto;
        margin-right: auto;
        z-index:-1;

        &.hidden {
            display:none;

            svg {
                display:none;
            }
        }

        @include mq('tablet') {
            display: none;
        }

        svg {
            width:15px;
            float:right;
            height:calc(100vh - 75px);
            min-height:550px;
            transform:translateY((50vh));
        }

        .svg-line-path {
            fill:none; 
            animation: dashed-line 3s ease-in-out 1 forwards;
            stroke:map-get($colors, 'blue' ); 
            stroke-width: 10; 
            stroke-dasharray: 940; /* this is the entire length of the line */
            stroke-dashoffset: 940; /* this is the entire length of the line */
            animation-play-state: paused;

        }

        &.active {

            .svg-line-path {
                animation-play-state: running !important;
            }
        }

        &.odd {
    
            .svg-line-path {
                stroke:map-get($colors, 'pink' )!important; 
            }
        }

        .svg-line-dash {
            fill: none;
            stroke: #FFFFFF; /* this must match the background color */
            stroke-dasharray: 10 20; /* draws a 10px dash line with a 16px gap between */
            stroke-width: 12; /* make the dashed line slightly bigger than the one it's covering */
          }
        
        @keyframes dashed-line {
            from {
                stroke-dashoffset: 940;
            }
            to {
                stroke-dashoffset: 0;
            }
        }
        
    }

    &.active {

        .section-heading {
            transition:all ease 500ms;

            h2 {
                transform:translateX(-500px);
                transition:all ease 500ms;
            }
        }

        .section-heading-small {
            transition:all ease 1ms;

            h2 {
                transition:all ease 1s;
                opacity:1;
                text-shadow:-1px 1px 0px (map-get($colors, 'black' ));
            }
        }

    }

    .showcase-content-container {
        @include flex-row(flex-start, center);
        width:100%;
        height:calc(100vh - 50px) !important;
        min-height:550px;

        .showcase-graphic-container {
            flex:1;
            height:100%;
            width:100%;
            @include flex-col(center, center);

            @include mq('tablet') {
                flex:2;
            }

            .showcase-graphic {
                width:75%;
                height:75%;
                background-size:cover;
                background-position:top;
                background-repeat:no-repeat;
                transition: all ease 6s;
                border: 2px solid map-get($colors, black );
                

                @include mq('tablet') {
                    width:100%;
                }

                &:hover {
                    background-position:bottom;
                }

                &:active {
                    background-position:bottom;
                }

                &:after {
                    content:"";
                    display:block;
                    width:100%;
                    height:100%;
                    border: 10px solid map-get($colors, 'pink' );
                    transform:translate(-50px, -50px);
                    position:relative;
                    z-index:-1;

                    @include mq('tablet') {
                        transform:translate(-20px,-20px);
                    }
                }
            }
        }

        &:before {
            content:"";
            display:block;
            position:absolute;
            right:6.75%;
            height:50px;
            width:50px;
            background-color:map-get($colors, 'pink' );
            border-radius:25px;
            transform:translateY(50px);

            @include mq('tablet') {
                display:none;
            }
        }

        .showcase-content {
            flex:2;
            height:100%;
            padding:30px;
            @include flex-col(center, flex-start);
            flex-wrap: nowrap;

            @include mq('tablet') {
                padding:0;
            }

            h3 {
                font-family:map-get($fonts, 'heading' );
                font-weight:700;
            }

            .tag-container {
                @include flex-row(space-between, flex-start);
                width:auto;
                height:5%;

                @include mq('tablet') {
                    height:auto;
                    flex-direction: column;
                    justify-content: flex-start;
                }

                h6 {
                    margin:0 15px;
                    padding:2px 5px;
                    width:auto;
                    color:white;
                    background-color:map-get($colors, 'blue' );

                    &:nth-child(1) {
                        margin-left:0px;
                    }

                    @include mq('tablet') {
                        margin:2.5px 0;
                    }
                }
            }

            .heading-container {
                height:10%;
                @include flex-col(center, flex-start);

                @include mq('tablet') {
                    height:auto;
                }
            }

            .paragraph-container {
                min-height:40%;
                padding:50px 0;
                @include flex-col(center, flex-start);
                flex-wrap: nowrap;

                @include mq('tablet') {
                    height:auto;
                    padding: 15px 0;
                }
            }

            .link-container {
                height:15%;
                @include flex-col(center, flex-start);
                padding: 15px 0;

                h5 {
                    font-family:map-get($fonts, 'heading' );
                    font-weight:700;
                }
            }
        }
    }
}

.odd {

    &:before {
        background-color:map-get($colors, 'blue') !important ;
    }

    .showcase-graphic {

        &:after {
            content:"";
            display:block;
            width:100%;
            height:100%;
            border: 10px solid map-get($colors, 'blue' ) !important;
            transform:translate(-50px, -50px);
            position:relative;
            z-index:-1;
        }
    }

    .tag-container {

        h6 {
            background-color:map-get($colors, 'pink' ) !important;
        }
    }
}
