/* ----------------------------------------- */
/* WYSIWYG */
/* ----------------------------------------- */

#wysiwyg-component {
    width:100%;
    height:auto;
    padding:30px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;

    .wysiwyg-container{
        width:map-get($layout, 'max-width' );
        margin:auto;

        .wysiwyg-content {
            all: inherit;
            width:100%;
            margin:0;
        }
    }
}
