
	/* DEFAULT EDITOR THEME */
	/* ----------------------------------------- */

	@import "../../partials/_article.scss";
	




p {
		font-family:map-get($fonts, 'body' );
		font-size:20px;
		font-weight:400;
}