/* DEFAULT EDITOR THEME */
/* ----------------------------------------- */

div.mce-edit-area {
	align-items:flex-start;
}

p {
	font-family:map-get($fonts, 'body' );
	font-size:20px;
	font-weight:400;
}

ul, li {
	font-size:15px;
}