.hero-container {

    .form-container {
        position:absolute;
        z-index:1;
        right:8%;
        top:25vh;
        max-width:400px;
        width:20%;
        @include flex-col(center,center);

        @include mq('tablet') {
            display:none;
        }

        .frm_forms {
            background-color:map-get($colors, 'blue' );
            padding:30px;
            width:100%;
            color:map-get($colors, 'white' );
            font-family:map-get($fonts, 'body' );            
            font-size:1rem;
            font-weight:400;
            -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,1);
            -moz-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,1);
            box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,1);

            @include mq('tablet') {
                width:80%;
                position:relative;
                left:0;
                margin-top:30px;
            }

            fieldset {
                border:none;
            }

            .form-field {
                width:100%;
                padding:10px 0px;
                margin:0 !important;

                textarea {
                    width:90%;
                    height:80px;
                    font-size:14px;
                    padding:2px;
                }

                input[type=text] {
                    font-size:14px;
                    padding:6px 10px;
                    width:100%;
                    height:30px;
                }

                label[for=cc] {
                    font-size:.667rem;
                    padding:2px;
                }
            }

            .help-inline {
                color:map-get($colors, 'pink' );
            }

            p.alert {
                font-size:.667rem;
                padding:2px;
            }

            .form-submit {
                padding:10px 0px;
            }

            .frm_primary_label, h3 {
                color:map-get($colors, 'white' );
                font-family:map-get($fonts, 'heading' );
                font-weight:900;
                font-size:1rem;
                padding-bottom:10px;
            }

            h3 {
                font-size:1.5rem;
            }

            .frm_button_submit {
                color:map-get($colors, 'black' );
                font-family:map-get($fonts, 'body' );
                font-weight:400;
                font-size:1rem;
                padding:5px;
                background:map-get($colors, 'white' );
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.2), inset 0px -3px 1px 1px rgba(204,198,197,.5);
            }
        }
    } 
}

footer {
    
    .frm_forms {
        width:50%;
    }

    .frm_primary_label, .frm_form_title {
        color:map-get($colors, 'pink' ) !important;
        font-family:map-get($fonts, 'heading' );
        font-weight:900;
        font-size:1rem;
        padding-bottom:10px;
    }

    input[type=text], input[type=email] {
        width:75% !important;
        height:30px;
    }

    .frm_button_submit {
        color:map-get($colors, 'white' ) !important;
        font-family:map-get($fonts, 'body' ) !important;
        font-weight:400;
        font-size:1rem;
        padding:5px;
        background:map-get($colors, 'pink' ) !important;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2), inset 0px -3px 1px 1px rgba(204,198,197,.5) !important;
        border:none!important;
        border-radius:0 !important;
        width:30% !important;

        &:hover {
            box-shadow:none !important;
            background-color: rgba(204,198,197,.5) !important;
            color:map-get($colors, 'white' ) !important;
        }
    }

}