/* ----------------------------------------- */
/* HEADER */
/* ----------------------------------------- */

header {
    width:100%;
    @include flex-row(center,center);
    position:fixed;
    z-index:5;
    padding-top:30px;
    top:0px;
    background:map-get($colors, 'white');
    transition: all .5s ease-in;

    #header-container {
        @include flex-row(space-between,center);
        @include fillContainer;
        padding:0 map-get($layout, 'content-margin' );
        
    
        #branding {
            flex:1;
            @include flex-row(flex-start,center);
            
            a{
                @include flex-row(center,center);
            }
        }

    }

    &.header-small {
        padding-top:0px;
        transition: all .5s ease-in;
        -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);

        #branding {
            padding-bottom:4px;
        }
    
        h1 {
            font-size:3.375rem;
        }
        
        h4 {
            font-size:1rem;
        }
        
        h5 {
            font-size:0.667rem;
        }

        #menu-toggle {
            @include flex-row(center,center);
            align-self:stretch;
            width:50px;
            cursor: pointer;
            position:relative;
            z-index:5;

            span {
                height:30px;
                width:2px;
                background-color:map-get($colors, 'pink' );
                display:inline-block;
                transform:rotate(20deg);

                &:before {
                    content: "";
                    height:20px;
                    width:2px;
                    background-color:map-get($colors, 'pink' );
                    display:inline-block;
                    position: absolute;
                    top:50%;
                    transform:translate(-7px, -5px);
                    transition: all .5s ease-in;
                }

                &:after {
                    content: "";
                    height:15px;
                    width:2px;
                    background-color:map-get($colors, 'pink' );
                    display:inline-block;
                    position: absolute;
                    top:50%;
                    transform:translate(7px, -5px);
                    transition: all .5s ease-in;
                }
            }
        }
    }
}

#menu-toggle {
    @include flex-row(center,center);
    align-self:stretch;
    width:50px;
    cursor: pointer;
    position:relative;
    z-index:5;

    &.open {
        padding:10px 0px !important;

        span {
            height:0px !important;
            width:0px !important;
            background-color:map-get($colors, 'blue' );
            display:inline-block;
            transform:rotate(0deg) !important;

            &:before {
                content: "";
                height:30px !important;
                width:2px !important;
                background-color:map-get($colors, 'blue' ) !important;
                transition: all .5s ease-in;
                transform:rotate(-45deg) !important;
                top:0 !important;
            }

            &:after {
                content: "";
                height:30px !important;
                width:2px !important;
                background-color:map-get($colors, 'blue' ) !important;
                transition: all .5s ease-in;
                transform:rotate(45deg) !important;
            }
        }
    }
}

#primary-navigation {
    flex:1;
    @include flex-row(flex-end,center);
    align-self:stretch;

    div {
        @include fillContainer;

        ul {
            @include flex-row(space-between,center);
            @include fillContainer;
        }
    }

    &.primary-navigation-small {
        position:fixed;
        right:-50vw;
        transition:all .5s ease-in;
        height:100%;
        width:33vw;
        background-color:map-get($colors, 'white' );
        border-left:2px solid map-get($colors, 'blue' );

        ul {
            @include flex-col(space-between,center);
            @include fillContainer;
            padding-bottom:100px;
            height:100%;
        }


        &.open {
            right:0;
            height:100%;
            width:33vw;
            background-color:map-get($colors, 'white' );
            border-left:2px solid map-get($colors, 'blue' );

        }
    }
}