
	/* GENERAL */
	/* ----------------------------------------- */
	#wpadminbar {
		display:none;
	}

		html {
			font-size:18px;
			overflow-x:hidden;
			max-width:100vw;
		
			@include mq('desktop-wide') {
				font-size:16px;
			}

			@include mq('tablet') {
				font-size:14px;
			}
		}

		body {	
			padding-top:150px;		
			
			@include flex-col(flex-start,center);
			@each $key, $value in $primary {
				#{"" + $key}: $value ;
			}

			#wrapper {
				max-width:100vw;
				overflow-x:hidden;

				.background-shape {
					overflow-x:hidden;
					background: map-get($colors, 'pink' );
					min-height:100vh;
					width:100px;
					align-self:stretch;
					transform:skew(-20deg);
					transform-origin: top center;
					position:absolute;
					right:8%;
					z-index:-1;
					pointer-events: none;

					@include mq('tablet') {
						display:none;
					}
				}

				

				main.main {
					padding:0 map-get($layout, 'content-margin' );
					@include flex-col(flex-start, center);
				}
			}

			@include mq('desktop-wide') {
				padding-top:0px;
			}
		}


		//Anchor
		a,
		a:hover,
		a:active,
		a:visited {
			outline: none;
			text-decoration:none;
			color:inherit;
		}


		@each $key, $value in $colors {
			.bg#{$key} {
				background: $value;
			}

			.color#{$key} {
				color: $value;
			}

			.hovercolor#{$key}:hover {
				color: $value;
				transition: background 0.5s ease;
			}

			.hoverbg#{$key}:hover {
				background: $value;
				transition: background 0.5s ease;
			}

			.hovercolordarken#{$key}:hover {
				color: darken($value,10%);
				transition: background 0.5s ease;
			}

			.hoverbgdarken#{$key}:hover {
				background: darken($value,10%);
				transition: background 0.5s ease;
			}

			.hovercolorlighten#{$key}:hover {
				color: lighten($value,10%);
				transition: background 0.5s ease;
			}

			.hoverbglighten#{$key}:hover {
				background: lighten($value,10%);
				transition: background 0.5s ease;
			}


		}
		
		// Selections
		::selection {
		    color: map-get($colors, 'white'); 
		    background: map-get($colors, 'blue');
		}
		

		//Box Sizing
		*,
		*:before,
		*:after {
			box-sizing:border-box;
		}

		//Resets
		* {
			margin: 0;
			padding: 0;
		}

		ul {
			@include list-reset();
		}

		img {
			max-width: 100%;
			height: auto;
		}

		.responsive-only {
			display: none;
			@include mq('tablet') {
				display: block;
			}
		}

		section {
			max-width:100vw !important;
			
			&.component {
				width:100%;
				max-width:map-get($layout, 'max-width' );
				min-height:550px;
				align-self:stretch;
				@include flex-col(flex-start,flex-start);
				flex-wrap:nowrap;
				margin:50px 0;

				@include mq('tablet') {
					margin:50px 0;
					align-items: center;
				}
				

				.section-heading {
					height:auto;

					@include mq('tablet') {
						width:90%;
					}
				}

				.section-wrapper {
					position:absolute;
				}

				.section-content {
					height:80%;
					padding:30px;

					@include mq('tablet') {
						flex-direction: column;
						padding: 30px 0px;
						width:90%;
					}
				}
			}
		}